.malaysia-state-flag-icon-background {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}
.malaysia-state-flag-icon {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 1.33333333em;
  line-height: 1em;
}
.malaysia-state-flag-icon:before {
  content: "\00a0";
}
.malaysia-state-flag-icon-jhr {
  background-image: url(../flags/1x2/jhr.svg);
}
.malaysia-state-flag-icon-kdh {
  background-image: url(../flags/1x2/kdh.svg);
}
.malaysia-state-flag-icon-ktn {
  background-image: url(../flags/1x2/ktn.svg);
}
.malaysia-state-flag-icon-mlk {
  background-image: url(../flags/1x2/mlk.svg);
}
.malaysia-state-flag-icon-nsn {
  background-image: url(../flags/1x2/nsn.svg);
}
.malaysia-state-flag-icon-phg {
  background-image: url(../flags/1x2/phg.svg);
}
.malaysia-state-flag-icon-png {
  background-image: url(../flags/1x2/png.svg);
}
.malaysia-state-flag-icon-prk {
  background-image: url(../flags/1x2/prk.svg);
}
.malaysia-state-flag-icon-pls {
  background-image: url(../flags/1x2/pls.svg);
}
.malaysia-state-flag-icon-sbh {
  background-image: url(../flags/1x2/sbh.svg);
}
.malaysia-state-flag-icon-swk {
  background-image: url(../flags/1x2/swk.svg);
}
.malaysia-state-flag-icon-sgr {
  background-image: url(../flags/1x2/sgr.svg);
}
.malaysia-state-flag-icon-trg {
  background-image: url(../flags/1x2/trg.svg);
}
.malaysia-state-flag-icon-kul {
  background-image: url(../flags/1x2/kul.svg);
}
.malaysia-state-flag-icon-lbn {
  background-image: url(../flags/1x2/lbn.svg);
}
.malaysia-state-flag-icon-pjy {
  background-image: url(../flags/1x2/pjy.svg);
}
.malaysia-state-flag-icon-ft {
  background-image: url(../flags/1x2/ft.svg);
}
